<%= render 'layouts/client_manager/partials/header', path: new_client_path %>
<main id="main-container">
  <div class="content bg-gray-lighter">
    <div class="row items-push">
      <div class="col-sm-7">
        <h1 class="page-heading">
          Clients
        </h1>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="content-grid push-50">
      <div class="row">

        <% @clients.each do |client| %>
            <div class="col-lg-4">
              <div class="block block-link-hover3">
                <div class="block-content block-content-full clearfix">
                  <a href="<%= client_path(client) %>" data-method="delete" data-confirm="Are you sure you want to delete this client?" class="icon-btn" aria-label="Delete Client">
                    <i class="fa fa-trash fa-2x text-danger text-muted"></i>
                  </a>
                  <a class="icon-btn" data-toggle="modal" data-target="#modal" href="<%= client_path(client) %>" aria-label="View Details">
                    <i class="fa fa-eye fa-2x text-primary text-muted"></i>
                  </a>
                  <h2 class="h4 font-w700"><%= client.name %></h2>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
</div>
