
.block-link-hover3 a.icon-btn {
    float: right;
}

a.icon-btn {
    display: inline;
    -webkit-appearance: none;
    border: 0;
    background: 0;
    margin: 4px;
}

a.icon-btn .fa {
    opacity: 0.7;
    transition: transform 0.5s;
}

a.icon-btn:hover .fa,
a.icon-btn:focus .fa {
    opacity: 1;
    transform: scale(1.2);
}