<!DOCTYPE html>
<!--[if IE 9]>
<html class="ie9 no-focus"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-focus"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>ClientManager - Login</title>

  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">
  <%= growlyflash_static_notices %>
  <%= stylesheet_link_tag "client_manager/application", media: "all" %>
  <%= javascript_include_tag "client_manager/application" %>

</head>
<body>


<%= yield %>

</body>
</html>
