<header id="header-navbar" class="content-mini content-mini-full">
  <ul class="nav-header pull-right">
    <li>
      <a href="<%= clients_path %>" class="btn btn-warning"><i
      class="fa fa-server"></i></a>
    </li>
    <li>
      <a href="<%= edit_user_path(current_user) %>" class="btn btn-primary" data-toggle="modal" data-target="#modal"><i
      class="fa fa-user"></i></a>
    </li>
    <li>
      <a href="<%= path %>" class="btn btn-success" data-toggle="modal" data-target="#modal"><i
      class="fa fa-plus"></i></a>
    </li>
    <li>
      <a href="<%= logout_path %>" class="btn btn-default" type="button">
        <i class="fa fa-sign-out"></i>
      </a>
    </li>
  </ul>
</header>
